<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1440px; height: 1101px; padding-bottom: 80px; background: white; flex-direction: column; justify-content: flex-start; align-items: center; gap: 40px; display: inline-flex">
        <div style="width: 1040px; height: 64px; position: relative">
          <div style="left: 773px; top: 17px; position: absolute; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
            <div style="text-align: center; color: #4B5966; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">멤버리스트</div>
            <div style="width: 93px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #4362D0; border-radius: 8px; justify-content: center; align-items: center; gap: 10px; display: flex">
              <div style="text-align: center; color: white; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">마이페이지</div>
            </div>
            <div style="width: 81px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #4362D0; border-radius: 8px; justify-content: center; align-items: center; gap: 10px; display: flex">
              <div style="text-align: center; color: white; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">로그아웃</div>
            </div>
          </div>
          <div style="left: 0px; top: 24px; position: absolute; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 500; line-height: 16px; word-wrap: break-word">HELLO, WEB!</div>
        </div>
        <div style="width: 1040px; height: 148px; padding: 40px; background: #4362D0; border-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="width: 960px; color: #D2DAE0; font-size: 16px; font-family: Noto Sans KR; font-weight: 500; word-wrap: break-word">부스트캠프 백엔드 교육용 페이지</div>
          <div style="width: 960px; color: white; font-size: 24px; font-family: Noto Sans KR; font-weight: 500; word-wrap: break-word">HELLO, WEB! 입니다.</div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="text-align: right; color: #879298; font-size: 14px; font-family: Noto Sans KR; font-weight: 400; word-wrap: break-word">전체 글 60개</div>
          <div style="background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
              <div style="justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="width: 500px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">제목</div>
                <div style="width: 140px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">작성자</div>
                <div style="width: 140px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">작성일자</div>
                <div style="width: 140px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">조회수</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="height: 26px; padding-left: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div style="color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">게시물 제목</div>
                </div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">닉네임</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">YYYY. MM. DD</div>
                <div style="width: 140px; text-align: center; color: #14212B; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 25.60px; word-wrap: break-word">0</div>
              </div>
              <div style="width: 1040px; height: 1px; background: #D2DAE0"></div>
            </div>
          </div>
          <div style="align-self: stretch; height: 39px; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="justify-content: center; align-items: center; gap: 8px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                <div style="width: 6px; height: 12px; left: 9px; top: 6px; position: absolute; border: 1px #D2DAE0 solid"></div>
              </div>
              <div style="width: 20px; text-align: center; color: #4362D0; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">1</div>
              <div style="width: 20px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 400; line-height: 22.40px; word-wrap: break-word">2</div>
              <div style="width: 20px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 400; line-height: 22.40px; word-wrap: break-word">3</div>
              <div style="width: 20px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 400; line-height: 22.40px; word-wrap: break-word">4</div>
              <div style="width: 20px; text-align: center; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 400; line-height: 22.40px; word-wrap: break-word">5</div>
              <div style="width: 24px; height: 24px; position: relative">
                <div style="width: 6px; height: 12px; left: 9px; top: 6px; position: absolute; border: 1px #4362D0 solid"></div>
              </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 32px; display: flex">
              <div style="width: 320px; height: 32px; flex-direction: column; justify-content: space-between; align-items: flex-end; display: inline-flex">
                <div style="align-self: stretch; justify-content: flex-end; align-items: center; display: inline-flex">
                  <div style="flex: 1 1 0; color: #879298; font-size: 14px; font-family: Pretendard; font-weight: 400; line-height: 22.40px; word-wrap: break-word">검색어를 입력하세요</div>
                  <div style="width: 24px; height: 24px; position: relative">
                    <div style="width: 20.28px; height: 20.28px; left: 2px; top: 2px; position: absolute; background: #4362D0"></div>
                  </div>
                </div>
                <div style="align-self: stretch; height: 1px; background: #D2DAE0"></div>
              </div>
              <div style="width: 69px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #4362D0; border-radius: 8px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="text-align: center; color: white; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">글쓰기</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>