<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>WAS</title>
    </head>
    <body>
        <form method="POST" action="/user/create" class="register-1">
            <div class="nav">
                <div class="frame-1">
                    <div class="button-small">
                        <div class="text">로그인/회원가입</div>
                    </div>
                </div>
                <div class="hello-web">HELLO, WEB!</div>
            </div>
            <div class="frame-2">
                <div class="display-title">회원가입</div>
            </div>
            <div class="frame-3">
                <div class="input-info">
                    <div class="label">이메일</div>
                    <input
                        name="email"
                        type="text"
                        class="text2"
                        placeholder="이메일을 입력해주세요" />
                </div>
                <div class="input-info">
                    <div class="label">닉네임</div>
                    <input
                        name="name"
                        type="text"
                        class="text2"
                        placeholder="닉네임을 입력해주세요" />
                </div>
                <div class="input-info">
                    <div class="label">비밀번호</div>
                    <input
                        name="password"
                        type="text"
                        class="text2"
                        placeholder="비밀번호를 입력해주세요" />
                </div>
            </div>
            <div class="button-large">
                <button type="submit" class="button-large">
                    <div class="text3">회원가입</div>
                </button>
            </div>
        </form>
    </body>
</html>
